@import "_variables.scss";
@import "_mixins.scss";

/* GLOBAL RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inventoryList__container {
    background-color: #F7F7F7;
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    

    .inventoryList--heading-container {
        display: flex;
        justify-content: space-between;
        border: 1px solid red;
        width: 75%;
        position: relative;
        top: 10%;
        left: 15%;
        
    }
    .inventoryList--main-container{
        border: 1px solid red;
        width: 75%;
        height: 75vh;
        position: relative;
        top: 10%;
        left: 15%;
        background: #FFF;

        .inventoryList__form--product-heading {
            border: 1px solid red;
            display: flex;
            
        }
        .InventoryList__form--product-details {
            border: 1px solid red;
            display: flex;
        }

    }
}