@import "_variables.scss";
@import "_mixins.scss";

/* GLOBAL RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inventoryList__container {
    background-color: #F7F7F7;
    width: 100vw;
    height: 100vh;
   
    

    .inventoryList--heading-container {
        display: flex;
        justify-content: space-between;
        width: 75%;
        position: relative;
        top: 10%;
        left: 15%;
        padding: 0 2% 2% 2%;
        
        .inventoryList--heading {
            h1 {
                font-size: 1.8rem;
            }
            
        }
        .inventoryList--filter {
            display: flex;
            flex-direction: column-reverse;
            h2 {
                font-size: 1rem;
            }
        }
    }
    .inventoryList--main-container{
        border: 1px solid red;
        width: 75%;
        height: 75vh;
        position: relative;
        top: 10%;
        left: 15%;
        background: #FFF;

        .inventoryList__form--product-heading {
            border: 1px solid red;
            display: flex;
            
        }
        .InventoryList__form--product-details {
            border: 1px solid red;
            display: flex;
        }

    }
}