@font-face {
  font-family: 'Avenir Next';
  src: local("Avenir Next"), url("./Assets/Typography/Avenir Next.ttc");
  font-style: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0%;
  font-family: Avenir Next;
}

.sidebar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  background-color: #003B77;
}

@media (max-width: 800px) {
  .sidebar {
    width: 180px;
  }
}

.sidebar__LogoLinkBox--topLogo {
  margin-top: 30px;
  height: 13px;
  width: 93px;
}

.sidebar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.sidebar__links--label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 80px;
  padding: 20px 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: Avenir Next;
  color: #CACACA;
  background-color: #003B77;
}

@media (max-width: 800px) {
  .sidebar__links--label {
    width: 180px;
  }
}

.sidebar__links--label:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 80px;
  padding: 20px 0px;
  font-size: 14px;
  font-family: Avenir Next;
  color: #FFFFFF;
  background-color: #004892;
}

@media (max-width: 800px) {
  .sidebar__links--label:hover {
    width: 180px;
  }
}

.sidebar__links--img {
  margin: 0 30px 0 30px;
  height: 24px;
  width: 24px;
}

.sidebar__links--img:hover {
  margin: 0 30px 0 30px;
  height: 24px;
  width: 24px;
}

.sidebar__links--link {
  width: 250px;
  height: 80px;
  position: fixed;
}

.sidebar__bottomVersionText {
  color: white;
  font-weight: 400;
  margin: 40px;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 250px;
  padding-top: 20px;
  padding-bottom: 25px;
  border: none;
}

.topbar__searchBox {
  font-family: AvenirNext-Regular;
  margin-left: 120px;
  background-color: #F7F7F7;
  border-radius: 2px;
  border: #DEDEDE solid medium;
}

@media (max-width: 1420px) {
  .topbar__searchBox {
    margin-left: 70px;
  }
}

@media (max-width: 700px) {
  .topbar__searchBox {
    margin-left: 10px;
  }
}

.topbar__searchBox--input {
  background-color: #F7F7F7;
  height: 40px;
  width: 381px;
  border: none;
  outline: none;
  padding-left: 20px;
}

@media (max-width: 1024px) {
  .topbar__searchBox--input {
    width: 300px;
    display: inline;
  }
}

@media (max-width: 850px) {
  .topbar__searchBox--input {
    width: 200px;
    display: inline;
  }
}

@media (max-width: 700px) {
  .topbar__searchBox--input {
    max-width: 90px;
    width: 90px;
    display: inline;
  }
}

.topbar__searchBox--input::-webkit-input-placeholder {
  font-size: 14px;
  vertical-align: middle;
}

.topbar__searchBox--input:-ms-input-placeholder {
  font-size: 14px;
  vertical-align: middle;
}

.topbar__searchBox--input::-ms-input-placeholder {
  font-size: 14px;
  vertical-align: middle;
}

.topbar__searchBox--input::placeholder {
  font-size: 14px;
  vertical-align: middle;
}

.topbar__searchBox--input:hover::-webkit-input-placeholder {
  color: black;
  font-size: 14px;
  vertical-align: middle;
}

.topbar__searchBox--input:hover:-ms-input-placeholder {
  color: black;
  font-size: 14px;
  vertical-align: middle;
}

.topbar__searchBox--input:hover::-ms-input-placeholder {
  color: black;
  font-size: 14px;
  vertical-align: middle;
}

.topbar__searchBox--input:hover::placeholder {
  color: black;
  font-size: 14px;
  vertical-align: middle;
}

.topbar__searchBox--img {
  vertical-align: middle;
  padding-right: 20px;
  width: 20px;
  height: 25px;
}

.topbar__searchBox:hover {
  margin-left: 70px;
  background-color: #F7F7F7;
  border-radius: 2px;
  border: #004892  solid medium;
}

.topbar__searchBox:hover--input:hover {
  background-color: #F7F7F7;
  color: black;
  height: 40px;
  width: 381px;
  border: none;
  outline: none;
  padding-left: 20px;
}

.topbar__rightBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 45%;
  margin-right: 20px;
}

@media (max-width: 1420px) {
  .topbar__rightBox {
    margin-left: 100px;
    margin-right: 20px;
  }
}

@media (max-width: 1024px) {
  .topbar__rightBox {
    margin-left: 50px;
    margin-right: 10px;
  }
}

@media (max-width: 800px) {
  .topbar__rightBox {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.topbar__rightBox--userImg {
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.fromModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fromModal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fromModal__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.fromModal__contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
/*# sourceMappingURL=styles.css.map */